#form_block{    
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: #fff;
    border: 1px solid #D0CECE;
    text-align: center;
    z-index: 9999;
}
#form_block textarea{
    height: auto !important;
}
#form_block form{
    display: none;
    padding: 10px 20px;
}
#form_block .esr_title{
    background: url(../images/contact_us.png) 0 0 no-repeat;
    padding: 20px 20px;
    background-position: 15px 13px;
    background-size: auto 30px;
    margin: 0;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    text-align: left;
    padding-left: 50px;
    z-index: 99999;
}
#form_block .minus{
    display: none;
    position: absolute;
    top: 7px;
    right: 6px;
    background-color: #194C75;
    cursor: pointer;
    padding: 0px 6px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
#form_block input[type="text"],
#form_block input[type="email"],
#form_block select,
#form_widget input[type="text"],
#form_widget input[type="email"],
#form_widget select{
    width: 100%;
}

#form_widget{
    text-align: center;
    margin-bottom: 20px;
    overflow: auto;
}